@import "tailwindcss";

@theme {
  --color-primary-50: oklch(0.966 0.007 247.896);
  --color-primary-100: oklch(0.928 0.014 247.896);
  --color-primary-200: oklch(0.859 0.029 247.896);
  --color-primary-300: oklch(0.755 0.05 247.896);
  --color-primary-400: oklch(0.612 0.084 247.896);
  --color-primary-500: oklch(0.512 0.117 247.896);
  --color-primary-600: oklch(0.442 0.139 247.896);
  --color-primary-700: oklch(0.374 0.137 247.896);
  --color-primary-800: oklch(0.32 0.12 247.896);
  --color-primary-900: oklch(0.25 0.09 247.896);
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    font-family: 'Inter', sans-serif;
  }
}

@utility btn {
  @apply px-4 py-2 rounded-lg font-medium transition-all active:scale-95 disabled:opacity-50;
}

@utility btn-primary {
  @apply btn bg-primary-600 text-white hover:bg-primary-700 shadow-md;
}

@utility btn-secondary {
  @apply btn bg-white border border-gray-200 text-gray-700 hover:bg-gray-50;
}

@utility input {
  @apply w-full px-4 py-3 rounded-lg border border-gray-200 focus:ring-2 focus:ring-primary-500 focus:border-transparent outline-none transition-all;
}

@utility card {
  @apply bg-white rounded-2xl shadow-sm border border-gray-100 p-4;
}
